{% extends "layout.html" %}
{% block content %}
  <style>
    h2 {
      color: #FFFFFF;
    }
    p {
      color: #FFFFFF;
    }
    li {
    padding: 20px;
    border: 1px solid #CCCCCC; /* 添加边框 */
    margin-bottom: 50px; /* 在博客条目之间添加底部边距 */
    margin-top: 50px; /* 在博客条目之间添加底部边距 */
    }
  </style>


    <ul>
        <li>
            <h2>Beginner's Guide to Fitness</h2>
            <p>Update: 2023-11-23</p>
            <p>If you're a beginner in fitness, here are some helpful fitness tips:

              <b><p><span style="font-size: 20px;">1. Set Clear Goals:</span></p> </b>
              <p>Before you start working out, define your goals. Do you want to build muscle, lose weight, improve endurance, or something else? Setting clear goals can help you create a workout plan that suits you.</p>
              
              <p><span style="font-size: 20px;">2. Create a Plan: </span></p>
              <p>Develop a weekly fitness plan that includes cardio workouts, strength training, and rest days. A well-structured plan ensures that your training is organized.</p>
              
              <p><span style="font-size: 20px;">3. Pay Attention to Nutrition: </span></p>
              <p>Healthy eating is key to success. Ensure your diet includes enough protein, carbohydrates, and healthy fats. Avoid excessive processed foods and sugar.</p>
              
              <p><span style="font-size: 20px;">4. Stay Patient: </span></p>
              <p>Fitness is a long-term journey, don't expect immediate results. Consistency and patience are key to success.</p>
              
              <p>We hope these tips are helpful on your fitness journey!</p>
        </li>
        <img src="static/img/blog1.png" alt="bolg1" style="width:350px;height:350px;"> <img src="static/img/blog2.png" alt="bolg2" style="width:350px;height:350px;">
        <li>
            <h2>5 Effective Training Methods to Improve Endurance</h2>
            <p>Update: 2023-11-25</p>
            <p>Looking to boost your endurance? Here are some effective training methods to enhance your stamina, strength, and flexibility:</p>

              <p><span style="font-size: 20px;">1. Cardiovascular Exercise: </span></p>
              <p>Activities like running, cycling, swimming, and brisk walking can improve your cardiovascular fitness and endurance. Regular cardio sessions can elevate your endurance levels.</p>
              
              <p><span style="font-size: 20px;">2. Strength Training: </span></p>
              <p>Incorporating free weights, machines, or bodyweight exercises can increase muscle strength. Regular strength training helps improve endurance.</p>
              
              <p><span style="font-size: 20px;">3. High-Intensity Interval Training (HIIT):</span></p>
              <p>HIIT is an efficient training method that alternates high-intensity and low-intensity exercises. It enhances cardiovascular endurance and burns fat.</p>
              
              <p><span style="font-size: 20px;">4. Yoga and Pilates: </span></p>
              <p>These practices enhance flexibility and core strength. They also help reduce stress and improve posture.</p>
              
              <p><span style="font-size: 20px;">5. Proper Rest: </span></p>
              <p>Don't overlook the importance of rest. Adequate sleep and downtime allow your body to recover, leading to improved endurance.</p>
              
              <p>Whether you're a beginner or an experienced fitness enthusiast, these training methods can help boost your endurance. Remember to always maintain proper training techniques and safety.</p>
        </li>
    </ul>
{% endblock %}
