{% extends "layout.html" %} {% block content %}
<div
  class="content-section d-flex justify-content-center min-vh-90 align-items-center"
>
  <form method="POST" onSubmit="storeCalories()" name="calorieform">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Today's Calories</legend>
      <div class="form-group">
        <label class="form-control-label">Date</label>
        <p class="form-control form-control-lg" name="time">{{ time }}</p>
      </div>
      <div class="form-group">
        {{ form.food.label(class="form-control-label") }} {{
        form.food(class="form-control form-control-lg") }}
      </div>
      <div class="form-group">
        {{ form.burnout.label(class="form-control-label") }} {{
        form.burnout(class="form-control form-control-lg") }}
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
    <div class="justify-content-center mb-4">
      <a href="{{ url_for('history') }}" class="btn btn-primary">View History</a>
    </div>
  </form>
</div>
{% endblock content %}