{% extends "layout.html" %}
{% block content %}
<html></html>
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
</head>
<body>
    <h1>Your Profile</h1>

</body>
<section class="container-fluid ">
    <div class="container site-section" id="yoga-1">
        <div class="row">
            <div class="col-4">
                <div class="card"><a href="{{ url_for('yoga') }}"><img class="img-thumbnail" src="../static/img/yoga.jpg"></a>
                    <div class="card-body">
                        <h4 class="card-title">Yoga for Beginners</h4>
                        <p class="card-text"><br>&nbsp;New to Yoga? You are at the right place! Learn easy yoga poses to build strength, flexibility and mental clarity.<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card"><a href="{{ url_for('swim') }}"><img class="img-thumbnail" src="../static/img/swim.jpeg"></a>
                    <div class="card-body">
                        <h4 class="card-title">Swimming</h4>
                        <p class="card-text"><br>&nbsp;Swimming is an activity that burns lots of calories, is easy on the joints, supports your weight, builds muscular strength and endurance.<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card"><a href="{{ url_for('abbs') }}"><img class="img-thumbnail" src="../static/img/R31.jpg"></a>
                    <div class="card-body">
                        <h4 class="card-title">Abs Smash</h4>
                        <p class="card-text"><br> Whether your goal is a six-pack or just a little more definition around your midsection, we will help get you there!<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card"><a href="{{ url_for('walk') }}"><img class="img-thumbnail" src="../static/img/walk.jpg"></a>
                    <div class="card-body">
                        <h4 class="card-title">Walk Fitness</h4>
                        <p class="card-text"><br>Join us to get the best of the walk workouts to burn more calories than a stroll around the park.<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card"><a href="{{ url_for('belly') }}"><img class="img-thumbnail" src="../static/img/R21.jpg"></a>
                    <div class="card-body">
                        <h4 class="card-title">Belly Burner</h4>
                        <p class="card-text"><br>&nbsp;Join Sasha for a 30-minute no-equipment workout that will work on that stubborn belly fat.<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card"><a href="{{ url_for('dance') }}"><img class="img-thumbnail" src="../static/img/R22.jpg"></a>
                    <div class="card-body">
                        <h4 class="card-title">Dance Fitness</h4>
                        <p class="card-text"><br>&nbsp;Shake it off and groove to some fun tracks with Tom and his squad in this dance fitness session!<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card"><a href="{{ url_for('hrx') }}"><img class="img-thumbnail" src="../static/img/R23.jpg"></a>
                    <div class="card-body">
                        <h4 class="card-title">HRX Fitness</h4>
                        <p class="card-text"><br>&nbsp;It's time to push yourself to the limit! Join us for some intense workout sessions.<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card"><a href="{{ url_for('core') }}"><img class="img-thumbnail" src="../static/img/R32.jpg"></a>
                    <div class="card-body">
                        <h4 class="card-title">Core Conditioning</h4>
                        <p class="card-text"><br>Develop core muscle strenngth that improves posture and contributes to a trimmer appearance.<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card"><a href="{{ url_for('gym') }}"><img class="img-thumbnail" src="../static/img/R11.jpg"></a>
                    <div class="card-body">
                        <h4 class="card-title">Gym</h4>
                        <p class="card-text"><br>&nbsp;A collection of Dumbbells workouts by skilled trainers specific to particular muscle group.<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
{% endblock content %}