{% extends "layout.html" %}
{% block content %}
<html></html>
<head>
    <meta charset="UTF-8">
    <title>Your Data</title>
</head>
<body>
    <h1 style="color: white;">Your Data</h1>

</body>
<section class="container-fluid ">
    <div class="container site-section" id="yoga-1">
        <div class="row">
            <div class="col-4">
                <div class="card"><img class="img-thumbnail img-fluid" src="../static/img/height.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Your Height</h4>
                        <p class="card-text">{{ user_data.height }} cms<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card"><img class="img-thumbnail img-fluid" src="../static/img/weight.png">
                    <div class="card-body">
                        <h4 class="card-title">Your Weight</h4>
                        <p class="card-text">{{ user_data.weight }} kgs<br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card"><img class="img-thumbnail img-fluid" src="../static/img/weightgoal.jpg"></a>
                    <div class="card-body">
                        <h4 class="card-title">Your Target Weight</h4>
                        <p class="card-text">{{ user_data.target_weight }} Kgs<br><br></p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {{ graph_html|safe }}

            <h2 style="color: white;">Last 10 Entries</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th style="color: white;">Date</th>
                        <th style="color: white;">Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in last_10_entries %}
                        <tr>
                            <td style="color: white;">{{ entry['date'] }}</td>
                            <td style="color: white;">{{ entry['weight'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="container-fluid">
    <div class="container site-section" id="yoga-1">
        <a href="{{ url_for('user_profile') }}" class="btn btn-primary">Update Data</a>
    </div>
</section>
</html>
{% endblock content %}