<div class="col-4">
    <div class="card"><img class="img-thumbnail" src="{{ exercise.image }}">
        <div class="card-body">
            <h4 class="card-title">{{ exercise.name }}</h4>
            <p class="card-text"><br>&nbsp;{{ exercise.description }}<br><br></p>
            <a class="btn btn-secondary btn-sm" href="{{ exercise.href }}" role="button">More info</a>
            <a class="btn btn-secondary btn-sm" href="{{ exercise.video_link }}" role="button">Tutorial</a>
        </div>
    </div>
</div>
