{% extends "layout.html" %} {% block content %}
<h1 style="color: white">Manange Friends</h1>
<details>
  <summary style="color: white">My Friends</summary>
  {% for friend in myFriends %}
  <div>
    <span style="color: white"> {{friend.receiver}}</span>
  </div>
  <br />
  {% endfor %}
</details>
<br />
<details>
  <summary style="color: white">Add Friends</summary>
  {% for friend in allUsers %} {% if friend.email != active and friend.email not
  in pendingReceivers and friend.email not in pendingApproves and friend.email
  not in myFriendsList %}
  <details style="margin: 5px; background: white">
    <summary style="color: black">{{friend.name}}</summary>
    <p class="article-content" name="friend" style="color: black">
      {{friend.email}}
    </p>
    <button
      type="button"
      class="btn btn-primary"
      onclick="return sendRequest(event,this.id)"
      id="{{friend.email}}"
    >
      Send Request
    </button>
  </details>
  {% endif %} {% endfor %}
</details>
<br />
<details>
  <summary style="color: white">Sent Requests</summary>
  {% for req in pendingRequests %}
  <div>
    <span style="color: white">{{req.receiver}}</span>
    <button
      onclick="return cancelRequest(event,this.id)"
      id="{{req.receiver}}"
      class="btn btn-danger inline ml-5"
    >
      Cancel Request
    </button>
  </div>
  <br />
  {% endfor %}
</details>

<br />
<details>
  <summary style="color: white">Pending Approvals</summary>
  {% for req in pendingApproves %}
  <div>
    <span style="color: white">{{req}}</span>
    <button
      onclick="return approveRequest(event,this.id)"
      id="{{req}}"
      class="btn btn-success inline ml-5"
    >
      Approve
    </button>
  </div>
  <br />
  {% endfor %}
</details>
<br />
<details>
  <summary style="color: white">
    Share data with Friends (Type friend's email ID comma separated)
  </summary>

  <div>
    <form method="POST" action="/send_email">
      <textarea id="share" name="share" rows="4" cols="50"></textarea>
      <button type="submit" class="btn btn-success inline ml-5">
        Share Calorie History with Friends
      </button>
    </form>
  </div>
  <br />
</details>
<br />

{% endblock content %}
