{% extends "layout.html" %} {% block content %}
<div class="content-section d-flex vh-80">
  <form
    method="POST"
    onSubmit="event.preventDefault(); return history(event)"
    name="historyForm"
  >
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">History</legend>
      <div class="form-group">
        <label class="form-control-label">Date</label>
        <input type="date" name="date" required />
      </div>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
<div id="history-data card">
  <h5 class="card-header" style="color: white">History</h5>
  <div class="card-body">
    <p class="border-bottom mb-4 h6" style="color: white" id="date_legend"></p>
    <p class="card-text" style="color: white" id="date"></p>
    <br />
    <p
      class="border-bottom mb-4 h6"
      style="color: white"
      id="calories_legend"
    ></p>
    <p class="card-text" id="calories" style="color: white"></p>
    <br />
    <p
      class="border-bottom mb-4 h6"
      style="color: white"
      id="burnout_legend"
    ></p>
    <p class="card-text" id="burnout" style="color: white"></p>
    <br />
  </div>
</div>
{% endblock content %}
