{% extends "layout.html" %}
{% block content %}
    <div>
        <h1 id="head"><strong><span style="text-decoration: underline;">HRX Fitness</span></strong></h1><img class="img-fluid" src="../static/img/hrx.jpeg">
        <p id="1"><br><strong><b>Inspired by Hrithik Roshan’s fitness journey, the HRX Workout is based on a strength training module.</b></strong> <br> The HRX Workout primarily focuses on your shoulders, quads, core, traps and deltoid muscles.
            <br>It is designed keeping in mind all age groups and involves working on specific muscles using weights and various movements.
        <br><br>These include Primal Movements, Zero Momentum Reps and Compound Movements.
        <br>It also involves core activation and helps build body strength.
        <br>At HRX, it’s our mission to motivate and enable you to work on your mind and body, making sure you can be the best version of you.
        <br>Not just a brand, HRX is a mission that helps us enable and support people to be the fittest, happiest and most confident version of themselves.<br><br><br><br></p>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Enroll in our 4 Week HRX Plan</h4>
            <img class="img-fluid" src="../static/img/hrx.jpeg">
        </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}
