{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
  <style>
    .list-group-item {
      border-radius: 12px !important;  
      border: 1px solid rgb(255, 255, 255, 0.9); 
      padding: 15px; 
      background-color: rgb(255, 255, 255, 0.9); 
    }
  </style>
  <h2 class="text-white">Your Reminder History</h2>
  
  {% if reminder_data %}
    <div class="list-group">
      {% for entry in reminder_data %}
        <div class="list-group-item mb-4">
          <h5 class="mb-1">Set Date: {{ entry['set_date'] }}</h5>
          <p>Reminder Type: {{ entry['reminder_type']|capitalize}}</p>
          <p>Goal Weight: {{ entry['goal_weight'] }} kg</p>
          <p>Workout Plan: {{ entry['workout_title'] }}</p>
          <p>Notes: {{ entry['notes'] }}</p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No progress entries found.</p>
  {% endif %}
</div>
{% endblock content %}