{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="{{ url_for('submit_reviews') }}" name="ReviewForm()">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Submit a Review</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }} (Your Name)
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
                {{ form.review.label(class="form-control-label") }} (Your Review)
                {% if form.review.errors %}
                    {{ form.review(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.review.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.review(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <!-- Display Existing Reviews -->
    <div id="existing-reviews">
        <h2>Existing Reviews:</h2>
        <ul>
            {% for review in existing_reviews %}
                <li class="quote">
                    <blockquote>&ldquo;{{ review.review }}&rdquo;</blockquote>
                    <cite>{{ review.name }}</cite>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<style>
    /* CSS Styles for Existing Reviews */
    .quote {
        background-color: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 10px 0;
        padding: 10px 20px;
    }
    blockquote {
        font-style: italic;
    }
    cite {
        text-align: right;
        display: block;
        margin-top: 10px;
    }
</style>
{% endblock content %}
