{% extends "layout.html" %} {% block content %}
<div class="container">
    <h1 style="color: white" style="width: 200px;">Water Intake tracker</h1>
    <div class="main-content">
        <div style="display: flex; justify-content: center; align-items: center;">
               <form method="POST" action="/water" style="display: flex; align-items: center;">
                   <input type="number" name="intake" placeholder="Enter water intake in ml" required
                       style="padding: 5px; margin-right: 10px;">
                   <button type="submit"
                       style="padding: 5px 10px; background-color: #f8f8f8; border: 1px solid #ccc; cursor: pointer;">
                       Record Intake
                   </button>
               </form>
           </div>
		
        <h2 style="color: white"><strong style="font-size: 25px;color: #FFC107;">Intake Records</strong></h2>
        <ul>
            {% for record in records %}
            <li style="margin-bottom: 5px; color: white;">{{ record['intake'] }} ml at
                {{ record['time'].strftime('%Y-%m-%d %H:%M:%S') }}
            </li>
			<hr style="color: white;">
            {% endfor %}
        </ul>
		<h2 style="color: white"><strong style="font-size: 25px;color: #FFC107;">Total intake</strong></h2>
		<ul>
		    <li style="margin-bottom: 5px; color: white;">{{ total_intake }} ml</li>
		</ul>
		<h2 style="color: white"><strong style="font-size: 25px;color: #FFC107;">Average intake</strong></h2>
		<ul>
		    <li style="margin-bottom: 5px; color: white;">{{ average_intake|round(2) }} ml</li>
		</ul>
		<form method="POST" action="/clear-intake">
		        <button type="submit" style="padding: 5px 10px; background-color: #f44336; border: 1px solid #ccc; cursor: pointer; color: white; margin-top: 10px;">
		            Clear Records
		        </button>
		    </form>
			<hr>
		<div class="image-container" style="display: flex; justify-content: center; align-items: center;">
		        <img class="img-fluid" src="../static/img/water1.jpg" width="550px" style="padding: 5px 10px;">

		    </div>
    </div>
</div>
{% endblock content %}