{% extends "layout.html" %} {% block content %}
<div
  class="content-section d-flex justify-content-center min-vh-90 align-items-center"
>
<div class="row justify-content-center mb-4">
  <div class="col-auto text-center">
    <div class="image-container">
      <img src="../static/img/calories_tracker.jpeg" class="img-fluid" width="250" style="padding: 20px;">
    </div>
    <a href="{{ url_for('calories') }}" class="btn btn-primary">Calories Tracker</a>
  </div>
  <div class="col-auto text-center">
    <div class="image-container">
      <img src="../static/img/water_intake.jpeg" class="img-fluid" width="300" style="padding: 20px;">
    </div>
    <a href="{{ url_for('water') }}" class="btn btn-primary">Water Intake Tracker</a>
  </div>
</div>
{% endblock content %}